body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

p {
  margin: 0;
}

#input_height, #input_width {
  margin-bottom: 20px;
}

.contained_table {
  width: 100%;
  overflow-x: auto;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    min-width: 20px;
}

input[type=number] {
    width: 6em;
}

@media screen and (max-width: 374px) {
  h1 {
    font-size: 30px;
  }
}
